body
{
    font-family: "Ubuntu-Title";
  background-color: grey;
  margin: auto;
  text-align: center;
  display: flex;
}

h1,h2,h3
{
 font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border-style: inset;
  color: darkblue;
  border-color: lightblue ;
  
  border-block-style: solid;
  border : 2px solid black;
  background: lightblue ;
}


ul
{
  list-style-type: none;
}

img {
  border-radius: 15px;
}

.linkstyle{
  color: #7CFC00;
  font-weight: bold;
}

 /* desktop First */  

/* Desktop (1024px et plus) */
    body {
        background-color: #00ccff; /* Bleu pour desktop */
    }
}
/* Tablet (768px à <1024px) */
@media screen and (min-width: 768px) {
    body {
         display: flex;
        flex-direction: column;
justify-content: center;;
    }
}

/* Styles pour mobile (0 à <768px) */
@media screen and (max-width: 768px){
body {
 display: flex;
        flex-direction: column;
justify-content: center;;
}}

@font-face {
  font-family: "Ubuntu-Title";
  src:
    url("/font/Ubuntu-Title.ttf") format("truetype");
}

